<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% if set %}{{ set.title }} &ndash; {% elsif collection %}{{ collection.title }} &ndash; {% elsif page %}{{ page.title }} &ndash; {% endif %}{{ portfolio.name | strip_html }}
  </title>
  <link href="{{theme | asset_path: 'public.css'}}" media="screen" rel="Stylesheet" type="text/css">
  <meta property="og:title" content="{% if set %}{{ set.title }}{% elsif collection %}{{ collection.title }}{% elsif page %}{{ page.title }}{% endif %} &ndash; {{ portfolio.name | strip_html }}" />
  <meta property="og:type" content="website" />
  {% if item %}
    <meta property="og:image" content="{{ item | image_url: '600' }}" />
    {% if item.next_item %}<link rel="next" href="{{ item.next_item | path_with_collection: collection }}">{% endif %}
    {% if item.previous_item %}<link rel="pref" href="{{ item.previous_item | path_with_collection: collection }}">{% endif %}
  {% elsif set %}<meta property="og:image" content="{{ set.cover | image_url: '600' }}" />
  {% elsif collection %}<meta property="og:image" content="{{ collection.cover | image_url: '600' }}" />{% endif %}
</head>
{% if collections != empty or pages != empty %}
<body class="with_nav">
{% else %}
<body>
{% endif %}
<div id="wrap"><div class="inner">
  <div id="title"><a href="/">{{ portfolio.name }}</a></div>
{% if collections != empty or pages != empty %}
  <div id="nav">
    {% if collections != empty %}
    <ul class="collections">
      {% for _collection in collections %}
      <li>
        <a href="{{ _collection | path }}"{% if _collection.id == collection.id %}class="current"{% endif %}>{{ _collection.title }}</a>
        {% if _collection.id == collection.id and _collection.sets != empty %}
        <ul class="sets">
          {% for _set in _collection.sets %}
          <li><a href="{{ _set.items.first | path_with_collection: _collection }}"{% if _set.id == set.id %}class="current"{% endif %}>{{ _set.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if collections == empty and sets != empty %}
    <ul class="sets">
      {% for _set in sets %}
      <li>
        <a href="{{ _set.items.first | path }}"{% if _set.id == set.id %}class="current"{% endif %}>{{ _set.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if pages != empty %}
    <ul class="pages">
      {% for _page in pages %}
      <li>
        <a href="{{ _page | path }}"{% if _page.id == page.id %}class="current"{% endif %}>{{ _page.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endif %}
  <div id="content">
    {{content_for_layout}}
  </div>
</div></div>
<div id="footer"><div class="inner">
    <div class="vcard">
      {% if contact.email && portfolio.name %}
        <a class="email fn n" href="mailto:{{ contact.email }}">{{ portfolio.name }}</a>
      {% elsif portfolio.name %}
        <span class="fn n">{{ portfolio.name }}</span>
      {% elsif contact.email %}
        <a class="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
      {% endif %}
      {% if contact.address || contact.city || contact.post_code || contact.country %}
        <span class="adr">
          {% if contact.address %}<span class="street-address">{{ contact.street_address }}</span>{% endif %}
          {% if contact.city %}<span class="locality">{{ contact.city }}</span> {% endif %}
          {% if contact.postcode %}<span class="postal-code">{{ contact.postcode }}</span>{% endif %}
          {% if contact.country %}<span class="country-name">{{ contact.country }}</span>{% endif %}
        </span>
      {% endif %}
      {% if contact.phone %}<span class="tel">{{ contact.phone }}</span>{% endif %}
      {% if contact.facebook %}<a href="{{ contact.facebook }}" class="url">Facebook</a>{% endif %}
      {% if contact.twitter %}<a href="{{ contact.twitter }}" class="url">Twitter</a>{% endif %}
      {% if contact.url %}<a class="url" href="{{ contact.url }}">My site</a>{% endif %}
    </div>
</div></div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript" src="{{theme | asset_path: 'site.js'}}"></script>
{% if account.has_video %}
<script src="/javascripts/video.js" type="text/javascript"></script> 
<script type="text/javascript">VideoJS.setupAllWhenReady();</script>
{% endif %}
</body>
</html>
