<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% if set %}{{ set.title }} &ndash; {% elsif collection %}{{ collection.title }} &ndash; {% elsif page %}{{ page.title }} &ndash; {% endif %}{{ portfolio.name | strip_html }}
  </title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Terminal+Dosis+Light:regular' rel='stylesheet' type='text/css'>
  <link href="{{theme | asset_path: 'public.css'}}" media="screen" rel="stylesheet" type="text/css">
  <meta property="og:title" content="{% if set %}{{ set.title }}{% elsif collection %}{{ collection.title }}{% elsif page %}{{ page.title }}{% endif %} &ndash; {{ portfolio.name | strip_html }}" />
  <meta property="og:type" content="website" />
  {% if item %}
    <meta property="og:image" content="{{ item | image_url: '600' }}" />
    {% if item.next_item %}<link rel="next" href="{{ item.next_item | path_with_collection: collection }}">{% endif %}
    {% if item.previous_item %}<link rel="pref" href="{{ item.previous_item | path_with_collection: collection }}">{% endif %}
  {% elsif set %}<meta property="og:image" content="{{ set.cover | image_url: '600' }}" />
  {% elsif collection %}<meta property="og:image" content="{{ collection.cover | image_url: '600' }}" />{% endif %}
</head>
{% if collections != empty or pages != empty or sets != empty %}
<body class="with_nav">
{% else %}
<body>
{% endif %}
<div id="wrap"><div class="inner">
  <h1 id="title"><a href="/">{{ portfolio.name }}{% if collection.title %} / {{ collection.title }}{% elsif set.title %} / {{ set.title }}{% elsif page.title %} / {{ page.title }}{% endif %}</a></h1>
{% if collections != empty or pages != empty or sets != empty %}
  <div id="nav">
    <ul>
    {% if collections == empty && sets != empty %}
        {% for _set in sets %}
        <li><a href="{{ _set.items.first | path }}"{% if _set.id == set.id %}class="current"{% endif %}>{{ _set.title }}</a></li>
        {% endfor %}
    {% else %}
        {% for _collection in collections %}
        <li><a href="{{ _collection | path }}"{% if _collection.id == collection.id %}class="current"{% endif %}>{{ _collection.title }}</a></li>
        {% endfor %}
    {% endif %}
    {% if pages != empty %}
        {% for _page in pages %}
        <li><a href="{{ _page | path }}"{% if _page.id == page.id %}class="current"{% endif %}>{{ _page.title }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
    {% if collection %}
        <ul>
            {% for _set in collection.sets %}
            <li><a href="{{ _set.items.first | path_with_collection: collection }}"{% if _set.id == set.id %}class="current"{% endif %}>{{ _set.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
{% endif %}
  <div id="content">
    {{content_for_layout}}
  </div>
</div></div>
<div id="footer">
  {{ contact.hcard }}
  {% if portfolio.logo %}
    <a href="/" class="logo"><img src="{{ portfolio.logo | image_url: '100' }}" alt="{{ portfolio.name }}"></a>
  {% endif %}
</div>
</body>
</html>
