{% assign item = set.items.first %}

<div class="item">
  <div class="inner-content">
    {% if item.next_item %}
      <a href="{{ item.next_item | path_with_collection: collection }}">{{ item | asset_tag: '725' }}</a>
    {% else %}
      {{ item | asset_tag: '725' }} 
    {% endif %}
    {% if item.next_item %}
      <a href="{{ item.next_item | path_with_collection: collection }}" class="next">Next &raquo;</a>
    {% endif %}
  </div>

  {% if item.description or item.title %}
  <div class="description">
    {% if item.title %}
      <h2>{{ item.title }}</h2>
    {% endif %}
    {% if item.description %}
      {{ item.description | textilize }}
    {% endif %}
  </div>
  {% endif %}
</div>
