<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% if set %}{{ set.title }} &ndash; {% elsif collection %}{{ collection.title }} &ndash; {% elsif page %}{{ page.title }} &ndash; {% endif %}{{ portfolio.name | strip_html }}
  </title>
  <link href="{{theme | asset_path: 'public.css'}}" media="screen" rel="stylesheet" type="text/css">
  <meta property="og:title" content="{% if set %}{{ set.title }}{% elsif collection %}{{ collection.title }}{% elsif page %}{{ page.title }}{% endif %} &ndash; {{ portfolio.name | strip_html }}" />
  <meta property="og:type" content="website" />
  {% if item %}<meta property="og:image" content="{{ item | image_url: '600' }}" />
  {% elsif set %}<meta property="og:image" content="{{ set.cover | image_url: '600' }}" />
  {% elsif collection %}<meta property="og:image" content="{{ collection.sets.first.cover | image_url: '600' }}" />
  {% elsif portfolio.logo %}<meta property="og:image" content="{{ portfolio.logo | image_url: '600' }}" />{% endif %}
  {% if item.next_item %}<link rel="next" href="{{ item.next_item | path_with_collection: collection }}">{% endif %}
  {% if item.previous_item %}<link rel="prev" href="{{ item.previous_item | path_with_collection: collection }}">{% endif %}
</head>
{% if collections != empty or pages != empty %}
<body class="with_nav">
{% else %}
<body>
{% endif %}
<div id="wrap"><div class="inner">
  {% unless portfolio.logo %}
    <h1 class="title"><a href="/">{{ portfolio.name }}</a></h1>
  {% endunless %}
  <div id="nav">
    {% if portfolio.logo %}
      <h1 class="title"><a href="/"><img src="{{ portfolio.logo | image_url: '155' }}" alt="{{ portfolio.name }}"></a></h1>
    {% endif %}
    {% if collections != empty %}
    <ul class="collections">
      {% for _collection in collections %}
      <li>
        <a href="{{ _collection | path }}"{% if _collection.id == collection.id %}class="current"{% endif %}>{{ _collection.title }}</a>
        {% if _collection.id == collection.id and _collection.sets != empty %}
        <ul class="sets">
          {% for _set in _collection.sets %}
          <li><a href="{{ _set.items.first | path_with_collection: _collection }}"{% if _set.id == set.id %}class="current"{% endif %}>{{ _set.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if collections == empty and sets != empty %}
    <ul class="sets">
      {% for _set in sets %}
      <li>
        <a href="{{ _set.items.first | path }}"{% if _set.id == set.id %}class="current"{% endif %}>{{ _set.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if pages != empty %}
    <ul class="pages">
      {% for _page in pages %}
      <li>
        <a href="{{ _page | path }}"{% if _page.id == page.id %}class="current"{% endif %}>{{ _page.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div id="content">
    {{content_for_layout}}
  </div>
</div></div>
<div id="footer">
  <div class="inner">
    {{ contact.hcard }}
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{theme | asset_path: 'site.js'}}"></script>
{% if portfolio.has_video %}
<script src="/javascripts/video.js" type="text/javascript"></script> 
<script type="text/javascript">VideoJS.setupAllWhenReady();</script>
{% endif %}
</body>
</html>
