<!DOCTYPE html>
<html lang="en">
<head>
  {% capture _title %}{% if set %}{{ set.title }} by {{ portfolio.name }}
  {% elsif collection %}{{ collection.title }} by {{ portfolio.name }}
  {% elsif page %}{{ page.title }} by {{ portfolio.name }} 
  {% else %}{{ portfolio.name }}{% endif %}{% endcapture %}
  <meta charset="utf-8">
  <title>{{ _title | strip_newlines }}</title>
  <link href="{{theme | asset_path: 'public.css'}}" media="screen" rel="stylesheet" type="text/css">
  <meta property="og:title" content="{{ _title | strip_newlines }}" />
  <meta property="og:type" content="website" />
  {% if item %}<meta property="og:image" content="{{ item | image_url: '600' }}" />
  {% elsif set %}<meta property="og:image" content="{{ set.cover | image_url: '600' }}" />
  {% elsif collection %}<meta property="og:image" content="{{ collection.sets.first.cover | image_url: '600' }}" />
  {% elsif portfolio.logo %}<meta property="og:image" content="{{ portfolio.logo | image_url: '600' }}" />{% endif %}
  {% if item.next_item %}<link rel="next" href="{{ item.next_item | path_with_collection: collection }}">{% endif %}
  {% if item.previous_item %}<link rel="prev" href="{{ item.previous_item | path_with_collection: collection }}">{% endif %}
</head>
<body>
  <div id="title">
    {% if portfolio.logo %}
      <img src="{{ portfolio.logo | image_url: '200' }}" alt="{{ portfolio.name }}">
    {% else %}
      <a href="/">{{ portfolio.name }}</a>
    {% endif %}
  </div>
  <div id="nav">
    <ul class="collections">
      {% for _collection in collections %}
        <li>
        <a href="{{ _collection | path }}"{% if _collection.id == collection.id %} class="current"{% endif %}>{{ _collection.title }}</a>
        {% if _collection.id == collection.id and _collection.sets != empty %}
          <ul class="sets">
            {% for _set in _collection.sets %}
              <li><a href="{{ _set.items.first | path_with_collection: _collection }}"{% if _set.id == set.id %}class="current"{% endif %}>{{ _set.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
    <ul class="pages">
      {% for _page in pages %}
        <li>
        <a href="{{ _page | path }}"{% if _page.id == page.id %}class="current"{% endif %}>{{ _page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="content">
    {{content_for_layout}}
  </div>

  <div id="footer">
    {{ contact.hcard }}
  </div>
  <script type="text/javascript" src="{{theme | asset_path: 'site.js'}}"></script>
</body>
</html>
