<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% if set %}{{ set.title }} &ndash; {% elsif collection %}{{ collection.title }} &ndash; {% elsif page %}{{ page.title }} &ndash; {% endif %}{{ portfolio.name | strip_html }}
  </title>
  <link href="{{theme | asset_path: 'public.css'}}" media="screen" rel="stylesheet" type="text/css">
  <meta property="og:title" content="{% if set %}{{ set.title }}{% elsif collection %}{{ collection.title }}{% elsif page %}{{ page.title }}{% endif %} &ndash; {{ portfolio.name | strip_html }}" />
  <meta property="og:type" content="website" />
  {% if item %}
    <meta property="og:image" content="{{ item | image_url: '600' }}" />
    {% if item.next_item %}<link rel="next" href="{{ item.next_item | path_with_collection: collection }}">{% endif %}
    {% if item.previous_item %}<link rel="pref" href="{{ item.previous_item | path_with_collection: collection }}">{% endif %}
  {% elsif set %}<meta property="og:image" content="{{ set.cover | image_url: '600' }}" />
  {% elsif collection %}<meta property="og:image" content="{{ collection.cover | image_url: '600' }}" />{% endif %}
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="title"><a href="/">{{ portfolio.name }}</a></h1>
    {% if link_lists.main %}
      <ul id="nav">
      {% for _link in link_lists.main.links %}
        <li{% if _link.current %} class="current"{% endif %}><a href="{{ _link | path }}">{{ _link.title }}</a></li>
      {% endfor %} 
      </ul>
    {% endif %}
  </div>
  <div id="content">
    {{content_for_layout}}
  </div>
  <div id="footer">
    {% if link_lists.footer %}
      {% for _link in link_lists.footer.links %}
        <a{% if _link.current %} class="current"{% endif %} href="{{ _link | path }}">{{ _link.title }}</a>
      {% endfor %} 
    {% endif %}
    {{ contact.hcard }}
    {% if portfolio.logo %}
      <a href="/" class="logo"><img src="{{ portfolio.logo | image_url: '100' }}" alt="{{ portfolio.name }}"></a>
    {% endif %}
  </div>
</div>
</body>
</html>
