<div id="item">
  {{ item | asset_tag: '805' }} 
  {% if item.previous_item %}
    <a href="{{ item.previous_item | path_with_collection: collection }}" class="previous">&larr;</a> 
  {% endif %}
  {% if item.next_item %}
    <a href="{{ item.next_item | path_with_collection: collection }}" class="next">&rarr;</a>
  {% endif %}
</div>
<div id="item-description">
  <h1>{{ item.title }}</h1>
  {{ item.description | textilize }}
</div>
